html
	head
		title Identification
		link(rel='stylesheet', href='/css/Identifier.css')
	body
		include ../partials/header 
		a(href="/MemberLogin") Are you a member of The Real Oso?
		br
		a(href="/TrainerLogin") Are you a trainer of The Real Oso?
		br
		a(href="/AdminLogin") Are you administrative staff of The Real Oso?
		br
		a(href="/MemberRegister") Are you a new member?
		br